.site-footer {

    width: 100vw;
    align-self: flex-end;

    color: $color__text-footer;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    // images/dark-wood@2x.png
    // background-color: skyblue;
    background: url('../../images/dark-wood.png');


    a {
        color: #fff;
        text-decoration: none;
    }

    a:visited {
        color: #fff;
    }

    a:hover,
    a:focus,
    a:active {
        color: #fff;
    }

    a:focus {
        outline: thin dotted;
    }

    a:hover,
    a:active {
        outline: 0;
    }

    h3 {
        color: $color__text-footer-h3;
    }

    .site-footer-container {
        width: $desktop__width;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 0 auto;

        padding: $base__space-unit $base__space-unit 1rem $base__space-unit;


        .site-footer-contact-info {
            // width: 20%;
            margin-right: $base__space-unit * 3;

            .contact {
                &:last-child {
                    i {
                        margin-right: $base__space-unit - 1;
                    }
                }
            }

            // justify-self: flex-start;
        }

        .site-footer-business-hours {
            flex: 20%;


            span {
                font-weight: bold;
            }
        }

        .site-footer-logo-container {
            width: 50%;
            flex: 1 0 35%;
            justify-self: flex-end;
            align-self: flex-start;
            padding-top: $base__space-unit - 0.25rem;


            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .site-footer-logo {
                margin: 0 auto;
                width: 15rem;
                grid-column: 2 / 3;
                /* Short hand */
            }
        }



        .site-footer-info {
            width: 1240px;
            margin: $base__space-unit * 2 auto 0 auto;
            padding: 0.5rem;
            flex: 1 0 100%;

            display: flex;
            justify-content: center;
            align-items: center;


        }

    }


}