/* Main Header */

.site-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    background-color: transparent;
    border-bottom: none;
    padding: ($base__space-unit / 3) 0;
    position: fixed;
    width: 100%;
    z-index: 99999;

    .site-header-container {
        margin-left: auto;
        margin-right: auto;
        width: 1120px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .site-branding {
            .logo {
                a {
                    // h1 {
                    //     color: #248a83;
                    //     display: block;
                    //     text-decoration: none;
                    //     background: url("../images/logos/inhabitent-logo-tent.svg") no-repeat;
                    //     background-size: 50px 33px;
                    //     height: 33px;
                    //     margin: 0;
                    //     width: 50px;
                    // }
                }
            }
        }

        .main-navigation {
            display: flex;
            justify-content: flex-end;


            .navigation-bar {
                margin-right: 2rem;

                .menu {
                    display: block;
                    list-style: none;
                    margin: 0;
                    padding-left: 0;
                    text-transform: uppercase;


                    li {
                        padding-left: 1.5rem;
                        position: relative;
                        text-shadow: 1px 1px 2px #323232;

                        a {
                            color: white;
                        }
                    }
                }
            }
        }

        .header-search-bar {
            line-height: 1;
            padding-left: 1.5rem;

            .search-form {
                display: flex;
                align-items: center;
                color: #fff;

                label {
                    margin: 0;
                }

                .search-field {
                    border: 0;
                    padding: 0;
                    background: transparent;
                    font-family: Novecento Sans Web, sans-serif;
                    margin-left: .75rem;
                    padding: 0 .3rem;
                    text-transform: uppercase;
                    color: black;
                    display: none;
                    overflow: hidden;
                }

                .search-submit {
                    background-color: transparent;
                    padding: 0;

                    span {


                        i {

                            a {}
                        }
                    }
                }
            }
        }
    }
}

// 
.reverse-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    background-color: rgba(255, 255, 255, .85);
    border-bottom: $base__border;
    padding: ($base__space-unit / 3) 0;
    position: fixed;
    width: 100%;
    z-index: 99999;

    .site-header-container {
        margin-left: auto;
        margin-right: auto;
        width: 1120px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .site-branding {
            .logo {
                a {
                    // h1 {
                    //     color: #248a83;
                    //     display: block;
                    //     text-decoration: none;
                    //     background: url("../images/logos/inhabitent-logo-tent.svg") no-repeat;
                    //     background-size: 50px 33px;
                    //     height: 33px;
                    //     margin: 0;
                    //     width: 50px;
                    // }
                }
            }
        }

        .main-navigation {
            display: flex;
            justify-content: flex-end;

            .navigation-bar {
                margin-right: 2rem;

                .menu {
                    display: block;
                    list-style: none;
                    margin: 0;
                    padding-left: 0;
                    text-transform: uppercase;

                    li {
                        padding-left: 1.5rem;
                        position: relative;
                    }
                }
            }
        }

        .header-search-bar {
            line-height: 1;
            padding-left: 1.5rem;

            .search-form {
                display: flex;
                align-items: center;
                color: $color__brand-purple;

                label {
                    margin: 0;
                }

                .search-field {
                    border: 0;
                    padding: 0;
                    background: transparent;
                    font-family: Novecento Sans Web, sans-serif;
                    margin-left: .75rem;
                    padding: 0 .3rem;
                    text-transform: uppercase;
                    color: black;
                    display: none;
                    overflow: hidden;
                }

                .search-submit {
                    background-color: transparent;
                    padding: 0;

                    span {
                        color: $color__brand-green;

                        i {}
                    }
                }
            }
        }
    }
}