/* Main Header */
.site-header {
    background-color: rgba(255, 255, 255, .85);
    padding: $base__space-unit -0.75 $base__space-unit * 2;

    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .site-branding {

        width: 25%;
        height: 25%;
        flex: 25%;

        // justify-self: flex-start;
    }

    .site-header-container {

        width: 75%;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        /* Site Navigation */
        .main-navigation {

            width: 85%;
            padding: 0 2rem;
            flex: 50%;
            justify-self: flex-end;

            display: flex;
            justify-content: flex-end;

            .menu-toggle {
                margin: 0 auto;
                background-color: #248A83;
                border-radius: 1rem 0;
                color: #2d2d2d;


                &:hover {}
            }

            .menu-main-menu-container {

                width: 75%;
                justify-content: flex-end;

                .nav-menu {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-items: center;


                    .menu-item {
                        display: flex;
                        align-self: center;
                        justify-content: flex-end;
                    }
                }
            }
        }

        /* Site Search Form */
        .search-form {

            padding: 0 0.5rem;
            justify-self: flex-end;

            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;


            .search-field {
                height: 2vh;
                margin: 0.5rem;
                display: flex;
                align-items: center;
                text-indent: 25%;
                vertical-align: center;
                background: transparent;
                border: none;
                color: #fff;
                text-shadow: 1px 1px 2px #d99054, 0 0 1em #248A83, 0 0 0.2em #248A83;
                display: none;
            }

            .search-field-focus {
                display: initial;
            }

            .search-submit {

                position: absolute;
                transform: translateX(-4rem);
                margin: 0 auto;
                border: none;
                padding: none;
                box-shadow: none;
                background: transparent;
                border-radius: 3rem;

                .icon-search {
                    padding: 0;

                    i {
                        padding: 0;
                    }
                }

            }
        }
    }

}